/*
##################
DEFAULT BASE STYLE
##################
*/

.header {
    grid-area: header;
    text-align: center;
}

.footer {
    grid-area: footer;
}

.basic-informations {
    grid-area: basic-infos;
}

.main-informations {
    grid-area: main-infos;
}

.hobbies {
    grid-area: hobbies;
}

.certifications {
    grid-area: certifications;
}